.container{
    padding: 2rem;
    box-shadow: 0 0 10px #d1eaf794;
    padding-top: 20px;
    margin-top: 40px;
}
.architectureItem{
    padding: 20px;
    border-radius: 30px;
    flex: 1;
    transition: transform 0.3s ease;
}

.architectureItem ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.architectureItem ul > li{
    margin: 10px 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.architectureItem ul > li > img{
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.architectureItem ul > li > img:hover{
    box-shadow: 0 0 100px #497755;
    transform: scale(1.01); 

}

.architectureItem ul > li > img{
    height: auto;

width: auto;
    border-radius: 10px;

}
.architectureItem ul > li:first-child {
    order: 1;
    
}
  #img1,
  #img3,
  #img5{
    order: 2;
    transition: transform 0.3s ease;
  }

  .architectureItem ul > li > p{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
